@charset "utf-8";
/* CSS Document */
/* header */
header {
    background: #E5F7FB;
    height: 4rem;
}
header img {
    height: 2rem;
    position: absolute;
    display: block;
    top: 1rem;
    left: 2rem;
}
header h1 {
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    font-family: "Microsoft YaHei", "微软雅黑";
    font-size: 2rem;
    font-weight: normal;
    color: #30B6D9;
}
.shade {
    background: url("../img/shade.jpg") left top repeat-x;
    height: 5px;
}
/* set*/
.set_content {
    margin-left: 3%;
    margin-top: 1rem;
    width: 94%;
    border: 1px solid #9BE8F2;
    border-radius:5px;
    -moz-border-radius: 5px;      /* Gecko browsers */
    -webkit-border-radius: 5px;   /* Webkit browsers */
}
.set_content li {
    height: 4rem;
    line-height: 4rem;
    padding-left: 10px;
    color: #F3FCFB;
    font-size: 1.5rem;
    background: url("../img/set_right.png")  96% center no-repeat;
    background-color: #9BE8F2;
    background-size: auto 1.5rem;
    border-bottom: 1px solid #C2F1F7;
}
.set_content li:last-child {
    border: none;
}

/* footer */
footer {
    width: 100%;
    height: 4rem;
    position: fixed;
    bottom: 0px;
    left: 0px;
    text-align: center;
}
footer li {
    float: left;
    width: 25%;
    height: 4rem;
    font-size: 1.5rem;
    color: #F7FBFC;
    line-height: 1.5rem;
    vertical-align: middle;
    padding-top: 0.5rem;
    background: #31B7DA url("../img/border_right.jpg") right top repeat-y;
}
footer li:last-child {
    background-image: none;
}
footer li img {
    height: 1.5rem;
}